In [1]:
import pandas as pd

/Users/randygen/.pyenv/versions/3.9.1/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df.head()

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [7]:
function = lambda x: x.split()
df['words'] = df['excerpt'].apply(function)
function = lambda x: len(x)
df['words_length'] = df['words'].apply(function)

In [10]:
df['target'].corr(df['words_length'])

-0.12387821171435119

In [8]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words,words_length
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,"[When, the, young, people, returned, to, the, ...",179
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,"[All, through, dinner, time,, Mrs., Fayre, was...",169
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,"[As, Roger, had, predicted,, the, snow, depart...",166
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,"[And, outside, before, the, palace, a, great, ...",164
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,"[Once, upon, a, time, there, were, Three, Bear...",147