In [1]:
import spacy
import pandas as pd

/Users/randygen/.pyenv/versions/3.9.1/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
nlp = spacy.load('en')
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
train = train[['id', 'excerpt', 'target']]

In [3]:
train.head()

          id                                            excerpt    target
0  c12129c31  When the young people returned to the ballroom... -0.340259
1  85aa80a4c  All through dinner time, Mrs. Fayre was somewh... -0.315372
2  b69ac6792  As Roger had predicted, the snow departed as q... -0.580118
3  dd1000b26  And outside before the palace a great garden w... -1.054013
4  37c1b32fb  Once upon a time there were Three Bears who li...  0.247197

In [4]:
train.shape

(2834, 3)

In [ ]:
function = lambda x: nlp(x)
df['spacy'] = df['excerpt'].apply(function)

In [16]:
function = lambda x: x.count(',')
train['comma'] = train['excerpt'].apply(function)

In [17]:
function = lambda x: x.count('.')
train['dot'] = train['excerpt'].apply(function)

In [18]:
function = lambda x: x.count(' ')
train['space'] = train['excerpt'].apply(function)

In [19]:
function = lambda x: x.split()
train['words'] = train['excerpt'].apply(function)
function = lambda x: len(x)
train['words_length'] = train['words'].apply(function)

In [20]:
function = lambda x: list(x)
train['letters'] = train['excerpt'].apply(function)
function = lambda x: len(x)
train['letters_length'] = train['letters'].apply(function)

In [21]:
train['target'].corr(train['dot'])

0.26505499177717046

In [22]:
train['target'].corr(train['space'])

-0.14288727823308087

In [23]:
train['target'].corr(train['comma'])

-0.09445637417228456

In [24]:
train['target'].corr(train['words_length'])

-0.12387821171435119

In [25]:
train['target'].corr(train['letters_length'])

-0.36278233607256816

In [26]:
train.head().T

,0,1,2,3,4
id,c12129c31,85aa80a4c,b69ac6792,dd1000b26,37c1b32fb
excerpt,When the young people returned to the ballroom...,"All through dinner time, Mrs. Fayre was somewh...","As Roger had predicted, the snow departed as q...",And outside before the palace a great garden w...,Once upon a time there were Three Bears who li...
target,-0.340259,-0.315372,-0.580118,-1.054013,0.247197
flag,14,24,17,23,13
space,173,163,161,162,146
dot,11,10,11,5,5
comma,14,24,17,23,13
words,"[When, the, young, people, returned, to, the, ...","[All, through, dinner, time,, Mrs., Fayre, was...","[As, Roger, had, predicted,, the, snow, depart...","[And, outside, before, the, palace, a, great, ...","[Once, upon, a, time, there, were, Three, Bear..."
words_length,179,169,166,164,147
letters,"[W, h, e, n, , t, h, e, , y, o, u, n, g, , ...","[A, l, l, , t, h, r, o, u, g, h, , d, i, n, ...","[A, s, , R, o, g, e, r, , h, a, d, , p, r, ...","[A, n, d, , o, u, t, s, i, d, e, , b, e, f, ...","[O, n, c, e, , u, p, o, n, , a, , t, i, m, ..."
letters_length,992,937,908,909,723